<!DOCTYPE html>
<html>
    <style>
        abbr[title] {
            border-bottom: hidden !important;
            cursor: default !important;
            text-decoration: none !important;
        }

        html {
            position: relative;
            margin: 0px;
            height: 100%;
            width: 100%;
            min-height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

    </style>

    @model IEnumerable<GarageWebsite.Models.ItemList>

<body id="body-core" height="100%">
    <div class="DisplayBlock">
        <p align="center">
            <img src="~/Content/Imgs/logo.png" height="200" width="200">
        </p>
        <h1 align="center">Camel Tow Autobody Services</h1>
        <p align="center" class="lead">A quick overview of some of our service categories.</p>
        <p align="center" class="lead">Hover over a service to see a short description.</p>
        <hr id="hr-split" />



        <div class="containerTest4">
            <div class="col-md-2">
                <img id="image" src="https://owner.ford.com/content/dam/ford-dot-com/en_us/how-tos/knowwhentochangeyourengineoilprimarymediadesktop" style="border-radius:5px;height:100%;width:100%;margin-top:10%" />
            </div>
            <div class="col-md-1">
                <h2 id="header-test">Oil Lube and Filter Service – Full Service</h2>
                <table class="table">
                    <th style="text-align: left">
                        Service
                    </th>
                    <th style="text-align: right">
                        Price
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Category == "Oil Lube and Filter Service – Full Service")
                        {
                            <tr>
                                <td style="text-align: left">
                                    <abbr title="@Html.DisplayFor(modelItem => item.Description)" > @Html.DisplayFor(modelItem => item.Service) </abbr>
                                </td>
                                <td style="text-align: right">
                                    $@Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>


        <hr id="hr-split" />

        <div class="containerTest4">
            <div class="col-md-1">
                <h2 id="header-test">Wheel Alignment</h2>
                <table class="table">
                    <th style="text-align: left">
                        Service
                    </th>
                    <th style="text-align: right">
                        Price
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Category == "Wheel Alignment")
                        {
                            <tr>
                                <td style="text-align: left">
                                    <abbr title="@Html.DisplayFor(modelItem => item.Description)" > @Html.DisplayFor(modelItem => item.Service) </abbr>
                                </td>
                                <td style="text-align: right">
                                    $@Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-md-2">
                <img id="image" src="http://mnk-blog.s3.amazonaws.com/blog/wp-content/uploads/2016/07/12110021/wheel-alignment-vs-front-end-alignment-is-there-a-difference.jpg" style="border-radius:5px;height:100%;width:100%;margin-top:10%;" />
            </div>

        </div>

        <hr id="hr-split" />

        <div class="containerTest4">
            <div class="col-md-2">
                <img id="image" src="http://bimmercars.com/wp-content/uploads/2014/11/vehicle-inspections.jpg" style="border-radius:5px;height:100%;width:100%;margin-top:10%" />
            </div>
            <div class="col-md-1">
                <h2 id="header-test">Inspection</h2>
                <table class="table">
                    <th style="text-align: left">
                        Service
                    </th>
                    <th style="text-align: right">
                        Price
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Category == "Inspection")
                        {
                            <tr>
                                <td style="text-align: left">
                                    <abbr title="@Html.DisplayFor(modelItem => item.Description)" > @Html.DisplayFor(modelItem => item.Service) </abbr>
                                </td>
                                <td style="text-align: right">
                                    $@Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

        <hr id="hr-split" />

        <div class="containerTest4">
            <div class="col-md-1">
                <h2 id="header-test">Maintenance</h2>
                <table class="table">
                    <th style="text-align: left">
                        Service
                    </th>
                    <th style="text-align: right">
                        Price
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Category == "Maintenance")
                        {
                            <tr>
                                <td style="text-align: left">
                                    <abbr title="@Html.DisplayFor(modelItem => item.Description)" > @Html.DisplayFor(modelItem => item.Service) </abbr>
                                </td>
                                <td style="text-align: right">
                                    $@Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-md-2">
                <img id="image" src="http://motors.stylemixthemes.com/car-repair-service/wp-content/uploads/sites/3/2016/01/Fotolia_95062899_Subscription_Monthly_M.jpg" style="border-radius:5px;height:100%;width:100%;margin-top:10%" />
            </div>

        </div>
        </div>

</body>

</html>
